*
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Serif;
}
#wrapper
{
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

p
{
	font-size: 20px;
}

/* HEADER */

header
{
	color: #444;
}

h1
{
	font-size: 50px;
	margin-top: 35%;
}

header p
{
	font-size: 40px;
	display:inline-block;
	padding-top: 5px;
	border-top: 2px solid #444;
}

/* ABOUT ME */